@font-face {
  font-family: 'YozakuraJP';
  src: url('/fonts/YozakuraJP-Light.otf');
}
@font-face {
  font-family: 'SentyWen';
  src: url('/fonts/SentyWEN2017.ttf');
}
@font-face {
  font-family: 'SentyZhao';
  src: url('/fonts/SentyZHAO.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@mixin heading-font {
  font-family: 'Times New Roman';
  font-weight: 500;
  // src: url('fonts/YozakuraJP-Regular.otf');
  // src: url('https://fonts.googleapis.com/css?family=Yeon+Sung');
}

@mixin body-font {
  font-family: 'Lato';
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
	@for $j from $from through $stroke {
	    $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
	}
    }
    @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}
